/*	-------------------------------------- 
	File    : styles_child.css
	Purpose : CSS for frederickvollmer.com 
			Child software pages
	Author  : F.W. Vollmer, 2011-2013
	--------------------------------------- */
  
body {
	font-family: verdana, sans-serif;
	background-color: #e3dfdc; /* Pantone Warm Gray 1 M */
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: medium;
	}
	
a:link { /* unvisited link */
	color: #000000;
	text-decoration: none;
	}    
  
a:visited { /* visited link */
	color: #000000;
	text-decoration: none;
	}  
  
a:hover { /* mouse over link */
	color: #0000FF;
	text-decoration: none;
	}   
  
a:active { /* selected link */ 
	color: #0000FF;
	text-decoration: none;
	}   
  	
p.homelink {
	font-size: small;
	text-align: center;
	}

p.copyright {
	font-size: x-small;
	text-align: center;
	}
	
h1 {
	text-align: left;
	font-weight: bold; 
	font-size: 110%
	}
	
h2 {
  font-weight: bold; 
  font-size: 110%;
  margin-bottom: 8px;
  }

td.content h2 {
  font-weight: bold; 
  font-size: 110%;
  margin-bottom: 8px;
  }

td.content p {
  margin-top: 0px;
  }

h3 {
  font-weight: bold; 
  font-size: 100%;
  }
	
img {
	margin-top: 0in; 
	margin-bottom: 0in;
	margin-right: 0in; 
	margin-left: 0in
	}

img.icon {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	border: none;
	}
	
img.left {
	float: left;
	clear: left;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	}
	
img.right {
	float: right;
	clear: right;
	margin-left: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	}
	
img.center {
	display: block;
	margin-top: 10px; 
	margin-bottom: 10px;
	margin-left:auto;
	margin-right:auto;
	}
				
table.main {
	/* table-layout: fixed; */
	/* width: 100%; */
	padding-top: 0px;
	/* border: 1px solid black; */
	}

td.menu {
	/* width: 400px; */
	padding-left: 20px;
	padding-top: 16px;
	padding-right: 20px;
	padding-bottom: 0px;
	/* background-color: #e3dfdc; */ /* Pantone Warm Gray 1 M */
	text-align: left;
	vertical-align: top;
	font-size: small;
	/* border: 1px solid black; */
	}
	
td.menu h1 {
	text-align: left;
	font-variant: small-caps;
    font-size: larger;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 12px;	
	}
	
td.menu h2 {
    font-size: small;
	text-align: left;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 0px;	
	}
	
td.content {
	padding-left: 20px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	/* background-color: #e3dfdc; */ /* Pantone Warm Gray 1 M */
	text-align: left;
	vertical-align: top;
    font-size: medium;
    /* border: 1px solid black; */
	}
		
td.example {
	vertical-align: top;
	padding-left: 0px;
	}

td.caption {
	font-size: small;
	vertical-align: top;
	padding-left: 10px;
	}
